[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/pack/plugins/start/fzf.vim"]
	path = vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/pack/plugins/start/indentLine"]
	path = vim/pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "vim/pack/plugins/start/coc.vim"]
	path = vim/pack/plugins/start/coc.vim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/plugins/start/vim.fugitive-github"]
	path = vim/pack/plugins/start/vim.fugitive-github
	url = https://github.com/tpope/vim-rhubarb
[submodule "vim/pack/plugins/start/vim.fugitive-gitlab"]
	path = vim/pack/plugins/start/vim.fugitive-gitlab
	url = https://github.com/shumphrey/fugitive-gitlab.vim
[submodule "vim/pack/plugins/start/NERDtree"]
	path = vim/pack/plugins/start/NERDtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/pack/plugins/start/vim-bookmarks"]
	path = vim/pack/plugins/start/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks
[submodule "vim/pack/plugins/start/vim-sleuth"]
	path = vim/pack/plugins/start/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
[submodule "vim/colors/opt/everforest"]
	path = vim/colors/opt/everforest
	url = git@github.com:sainnhe/everforest.git
[submodule "vim/pack/colors/opt/everforest"]
	path = vim/pack/colors/opt/everforest
	url = git@github.com:sainnhe/everforest.git
[submodule "vim/pack/plugins/start/conjure"]
	path = vim/pack/plugins/start/conjure
	url = git@github.com:Olical/conjure.git
[submodule "vim/pack/plugins/start/ycm"]
	path = vim/pack/plugins/start/ycm
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "vim9/pack/plugins/start/ycm"]
	path = vim9/pack/plugins/start/ycm
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule "vim/.vim/pack/plugins/start/fzf.vim"]
	path = vim/.vim/pack/plugins/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/pack/plugins/start/vim-fugitive"]
	path = vim/.vim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/pack/plugins/start/coc.nvim"]
	path = vim/.vim/pack/plugins/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "vim/.vim/pack/plugins/start/vim-sleuth"]
	path = vim/.vim/pack/plugins/start/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
[submodule "vim/.vim/pack/plugins/start/vim-airline"]
	path = vim/.vim/pack/plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/.vim/pack/plugins/start/vim-commentary"]
	path = vim/.vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
