set idearefactormode=keep
set number relativenumber

let mapleader=" "

map <silent> gd <Action>(GotoDeclaration)
map <silent> gi <Action>(GotoImplementation)
map <silent> gr <Action>(FindUsages)

map <silent> <C-g> <Action>(Forward)
map <silent> <C-s> <Action>(Back)

map <Leader>z <Action>(ToggleDistractionFreeMode)

" code actions
map <silent> <C-c>l <Action>(CommentByLineComment)

map <Leader>rc <Action>(CollapseRegion)
map <Leader>re <Action>(ExpandRegion)

map <silent> <C-v>r <Action>(ChooseRunConfiguration)
map <silent> <C-v>d <Action>(ChooseDebugConfiguration)
map <silent> <C-v>s <Action>(Stop)

" window
map <silent> <C-w>f <Action>(ActivateFindToolWindow)
map <silent> <C-w>ho <Action>(HideAllWindows)
map <silent> <C-w>o <Action>(Unsplit)
map <silent> <C-w>d <Action>(ActivateDatabaseToolWindow)
map <silent> <C-w>dq <Action>(Jdbc.OpenConsole.Any)
map <silent> <C-w>v <Action>(SplitVertically)
map <silent> <C-w>s <Action>(SplitHorizontally)
map <silent> <C-w>j <Action>(NextSplitter)
map <silent> <C-w>k <Action>(PrevSplitter)
map <silent> <C-w>p <Action>(SelectInProjectView)
map <silent> <C-w>w <Action>(Switcher)


" action
map <silent> <C-a>de <Action>(Console.Jdbc.Execute)
map <silent> <C-a>gi <Action>(GoImportsFileAction)
map <silent> <C-a>i <Action>(OptimizeImports)
map <silent> <C-a>f <Action>(FileStructurePopup)

" tips
map <silent> <C-t>i <Action>(ShowIntentionActions)
map <silent> <C-t>c <Action>(CodeCompletion)
map <silent> <C-t>r <Action>(RenameElement)
map <silent> <C-t>l <Action>(Inline)
map <silent> <C-t>d <Action>(QuickTypeDefinition)
map <silent> <C-t>p <Action>(ParameterInfo)
map <silent> <C-t>m <Action>(ExtractMethod)
map <silent> <C-t>v <Action>(IntroduceVariable)
map <silent> <C-t>k <Action>(IntroduceParameter)
map <silent> <C-t>n <Action>(Generate)


" search/find
map <silent> <C-f>a <Action>(SearchEverywhere)
map <silent> <C-g>f <Action>(GotoFile)
map <silent> <C-g>c <Action>(GotoClass)
map <silent> <C-g>e <Action>(GotoNextError)
map <silent> <C-g>pe <Action>(GotoPreviousError)
map <silent> <C-g>r <Action>(RecentFiles)
map <silent> <C-s>a <Action>(SaveAll)

" Find
map <C-f> <Action>(ActivateFindToolWindow)

set clipboard+=unnamed
set clipboard+=ideaput
nnoremap <Leader>e :e ~/.ideavimrc<CR>
nnoremap <Leader>x <Action>(IdeaVim.ReloadVimRc.reload)

autocmd FileType json syntax match Comment +\/\/.\+$+

source ~/.vimrc
